<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
    <title>Metar Map</title>
</head>
<body>
    <h1>Index</h1>
    <p>What would you like to do?</p>
    <ul>
        <li><a href="/metarmap/update">Check for updates</a></li>
        <li><a href="/metarmap/display">Change LED settings</a></li>
        <li><a href="/metarmap/connectivity">Change WiFi &amp; email settings</a></li>
    </ul>
</body>

</html>